@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

header {
    width: 100%;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: #1B1B1B;
    color: #fff;

}

.logo {
    font-size: 25px;
    font-weight: 400;


}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    margin: 10px;
    color: #fff;
}

.menu ul li a:hover {
    transition: 0.5s;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

.hero {
    height: 577px;
    background-image: url(images/home/img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: -120px; */

}

.headingh1 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-top: 190px;
    color: #fff;
}

.headingh2 {
    font-size: 47px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.btn11 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: 0.5s;

}

.btn11:hover {
    color: #000;
    background-color: #fff;
}

.btn22 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;

}

.buttons-home {
    margin-left: -0PX;
    margin-top: 30px;
}

footer {
    height: 500px;
    width: 100%;
    background-color: #1B1B1B;
}

.menuFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 20px;
    padding-top: 50px;
}

.footerNav {
    font-size: 16px;
    font-weight: 500px;
    color: #878792;
}

.footerOption a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding-top: 10px;
    transition: 0.3s;

}



.footerOption a:hover {
    color: #878792;
    text-decoration: underline;
}

.dropdown {
    height: 40px;
    width: 100px;
    background-color: #6c6c74;
    color: #fff;
    padding: 5px;
    font-size: 16px;

}

.main {
    display: flex;
    padding: 80px 160px 50px 165px;

    justify-content: space-between;
    transition: 0.3;
}

.dropdown:hover {
    background-color: #7e7e8a93;
}

.footermenu ul li a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
    margin: 10px;
    color: #fff;
    transition: 0.3s;

}

.footermenu ul li a:hover {
    color: #878792;

}

.footermenu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr {
    width: 83%;

    margin: 100px 50px 20px 120px;
}

.copyright {
    color: #878792;
    margin-left: 120px;
}

.Privacy {
    text-decoration: none;
    color: #878792;
    transition: 0.3s;
}

.Privacy:hover {
    color: #551A7D;
    text-decoration: underline;
}

/* ABOUT US */

.about {
    width: 100%;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.topHeading {
    height: 100px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80PX;


}

.heading {
    text-align: center;
}

.topHeading h1 {
    font-size: 70px;
    text-shadow: 2px 1px 4px gray;
    font-family: "Poppins";
    color: #fff;



}

.section1 {
    height: 90vh;
    width: 80%;
    background-color: #1B1B1B;
    border-radius: 16px;
    margin-bottom: 100PX;
    display: flex;
    align-items: center;
    justify-content: center;

}

.text {
    height: 90vh;
    width: 50%;

}

.for-about {
    height: 90vh;
    width: 50%;
}

.for-about .about-image {
    height: 100%;
    width: 101%;
    border-radius: 0px 16px 16px 0px;
}

.second-image {
    height: 90vh;
    width: 90%;
    border-radius: 16px 0px 0px 16px;
}

.text h1 {
    font-size: 35px;
    font-weight: 700;
    font-family: "Poppins";
    margin: 150px 10px 30px 100px;
    color: #fff;
}

.my-hr {
    width: 70px;
    height: 5px;
    background-color: #fff;
    border: none;
    margin: -25px 100px 50px;
}

.text ul {
    font-family: "Poppins";
    padding: 0px 10px 50px 100px;

}

.nav-menu li {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s;
}

.nav-menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #Fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}



.nav-menu a:hover::after {
    width: 100%;
}

.about2 {
    margin-top: .1000px;
}

/* service page */


.service {
    width: 100%;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.topHeading {
    height: 100px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80PX;


}

.heading {
    text-align: center;
}

.topHeading h1 {
    font-size: 70px;
    text-shadow: 2px 1px 4px gray;
    font-family: "Poppins";
    color: #fff;
}

.data {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.serviceHeading {
    font-family: "Poppins";
    color: #Fff;
    font-size: 30px;
    text-transform: uppercase
}

.servicePara {
    font-family: "Poppins";
    color: gray;
    padding: 20px;
    font-size: 20px;
}

.serviceSubHeading {
    font-size: 26px;
    padding: 20px;
    color: #A7BEAE;
}

/* Image Slider css */


/* Slideshow container */
.slider-container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 35%;
    height: 400px;
    display: block;
}

/* Navigation Buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}

.contactUs {
    font-size: 20px;
    width: 160px;
    height: 50px;
    color: #Fff;
    background-color: #717171;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contactUs:hover {

    color: #Fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
}

/* CONTACUS - CSSS */


.contectUs {
    width: 100%;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.contactCaption {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin: 20px;
}

.text-information {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 40px 10px 40px;
}

.icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
}

.iconhome {
    width: 35px;
    height: 31px;
}

.iconcall {
    width: 32px;
    height: 28px;
    padding-top: 6px;
}

.iconemail {
    width: 35px;
    height: 31px;
}

.headingIcon {
    font-size: 20px;
    color: #6c6c74;
}

.text-for-address {
    color: white;
    width: 300px
}

.parentmain {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.image-buttons {
    height: 600px;
    width: 45%;
    background-color: #1B1B1B;
    padding: 80px 100px;
    margin: 40px;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form input label textarea {
    width: 300px;



}

form input {
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    font-size: 18px;
    color: #fff;
}

form label {
    color: #Fff;
}

form textarea {
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    font-size: 18px;
    color: #fff;

}

select {
    background-color: #7c7c7c;
    color: #fff;
    font-size: 14px;
}

select:hover {
    background-color: #59595a;

}

#button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #6c6c74;
    transition: 0.5s;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

#button:hover {
    background-color: #000;
    height: 50px;
    border: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-media-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-media-icons a {
    text-decoration: none;
    color: #555;
    /* Default color */
    font-size: 34px;
    transition: color 0.3s ease;
}

.icon2:hover {
    color: #3498db;
    /* Hover color */
}

.icon1:hover {
    color: #aa0351;
}

.icon3:hover {
    color: #000;
}